@using WebAppAspNetMvcJs.Models
@model Book

<div class="container">
    <div class="row" style="align-items: center;">
        <div class="col-md-4">
            <img src="/Books/GetImage/@Model.Id" style="max-width: 300px; max-height: 600px; border: 1px solid #000000;" />
        </div>
        <div class="col-md-4">
            <p>
                <h1><u>@Model.Name</u></h1>
            </p>
            <p>
                <span><b>ISBN:</b></span>
                <span>@Model.Isbn</span>
            </p>
            <p>
                <span><b>Жанр:</b></span>
                <span>@Model.Genre.Name</span>
            </p>
            <p>
                @{
                    var authors = string.Join(", ", Model.Authors.Select(x => $"{x.LastName} {x.FirestName}"));
                    if (string.IsNullOrEmpty(authors))
                    {
                        authors = "Нет информации";
                    }
                }

                <span><b>Авторы:</b></span>
                <span>@authors</span>
            </p>
            <p>
                <span><b>Языки:</b></span>
                <span>@string.Join(", ", Model.Languages.Select(x => $"{x.Name}"))</span>
            </p>
            <p>
                <span><b>Год издания книги:</b></span>
                <span>@Model.Year</span>
            </p>
            <p>
                <span><b>Стоимость:</b></span>
                <span>@($"{Model.Cost} {Model.CurrencyType.LetterCode}")<sup>1</sup></span>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="accordion ">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapseOne">
                        Аннотация
                    </button>
                </h2>
                <div id="flush-collapse" class="accordion-collapse collapse show" aria-labelledby="flush-heading" >
                    <div class="accordion-body">
                        @Model.Annotation
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("На главную", "Index", "Books", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

<hr />


<sub><i>1 - Рекомендованная розничная цена.</i></sub>
